<div class="comment-header bg-transparent">

  <% if comment.user.avator? %>
    <%= link_to image_tag(comment.user.avator.to_s, class: 'user_avator', alt: 'avator image'), comment.user %>
  <% else %>
    <%= link_to image_tag('default.png', class: 'user_avator', alt: 'avator image'), comment.user %>
  <% end %>
  <span><%= link_to comment.user.name, comment.user %></span>
  <span><%= comment.created_at.to_s(:datetime_jp) %></span>
  <% if user_signed_in? && (current_user.id == comment.user.id || current_user.admin?) %>
    <span><%= link_to '削除', comment, method: :delete, data: { confirm: 'コメントを削除してもよろしいですか？' } %></span>
  <% end %>

  <div class="p-2">
    <p><%= simple_format(comment.comment) %></p>
  </div>

</div>