<div class="ml-1">
  <% if @haveRoom == true %>
    <%= link_to "トーク", room_path(@roomId), class: 'btn btn-primary btn-sm' %>
  <% else %>
    <%= form_with(model:@room, local: true) do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, value: @user.id %>
      <% end %>
      <%= f.submit "トーク", class: 'btn btn-primary btn-sm' %>
    <% end %>
  <% end %>
</div>