<% @entries.each do |entry| %>
  <strong>
    <% if entry.user.avator? %>
      <%= image_tag(entry.user.avator.to_s, class: 'user_avator', alt: 'avator image') %>
    <% else %>
      <%= image_tag('default.png', class: 'user_avator', alt: 'avator image') %>
    <% end %>
    <%= link_to entry.user.name, "/users/#{entry.user.id}", class:"rooms-user-link" %>
  </strong>
<% end %>
<hr/>

<% if @messages.present? %>
  <% @messages.each do |message| %>
    <div id="message_#{message.id}">
      <span>
        <% if message.user.avator? %>
          <%= image_tag(message.user.avator.to_s, class: 'user_avator', alt: 'avator image') %>
        <% else %>1
          <%= image_tag('default.png', class: 'user_avator', alt: 'avator image') %>
        <% end %>
        <%= message.user.name %>
      </span>
      <br/>
      <%= message.message %>
      <%= message.created_at.to_s(:datetime_jp) %>
      <div class="mt-2 mb-2">
        <%= form_with(model: @message, url: message_path(message.id), method: :delete) do |f| %>
          <%= f.hidden_field :room_id, value: @room.id %>
          <%= f.submit "削除", class: 'btn btn-primary btn-sm' %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
<hr/>