<% @entries.each do |entry| %>
  <strong>
    <% if entry.user.avator? %>
      <%= image_tag(entry.user.avator.to_s, class: 'user_avator', alt: 'avator image') %>
    <% else %>
      <%= image_tag('default.png', class: 'user_avator', alt: 'avator image') %>
    <% end %>
    <%= link_to entry.user.name, "/users/#{entry.user.id}", class:"rooms-user-link" %>
  </strong>
<% end %>
<hr/>

<% if @messages.present? %>
  <% @messages.each do |message| %>
    <div class="d-flex flex-row mb-2 chat-area">
      <div>
        <% if message.user.avator? %>
          <%= image_tag(message.user.avator.to_s, class: 'user_avator', alt: 'avator image') %>
        <% else %>
          <%= image_tag('default.png', class: 'user_avator', alt: 'avator image') %>
        <% end %>
      </div>
      <div class="p-1 chat-message">
        <%= message.user.name %>
        <span>
          <%= message.created_at.to_s(:datetime_jp) %>
        </span>
        <div>
          <%= simple_format(message.message) %>
        </div>
      </div>
      <% if current_user.id == message.user.id %>
        <div class="p-1 chat-delete">
          <%= form_with(model: @message, url: message_path(message.id), method: :delete) do |f| %>
            <%= f.hidden_field :room_id, value: @room.id %>
            <%= f.submit "×", class:"del-icon", data: {confirm: "削除しますか？"}%>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
<hr/>